/** {
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #DDD;
	color: #333;
}

a {
	text-decoration: none;
}

header a {
	color: #FFF;
	font-weight: 700;
	font-size: 1.5em;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

header a:hover, header a.current {
	color: #00ed5c;
}

header {
	background-color: #222;
	color: #FFF;
	height: 80px;
}

ul {
	list-style: none;
}

header ul {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 25px 0 0 30px;
}

header ul li {
	display: inline-block;
	padding: 0 30px;
}

header nav {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

h1 {
	text-align: center;
	padding: 5px 0 10px;
	color: #00A23F;
}

.logo {
	height: 60px;
	margin: 10px 0;
}

.container {
	width: 960px;
	margin: 50px auto;
	overflow: hidden;
}

.wide {
	width: 1225px;
}

.content {
	width: 960px;
	background-color: #FFF;
	/*margin: 50px auto;*/
	padding: 50px 0;
}

.intro {
	margin: 0;
	color: #777;
	font-size: 0.75em;
}

.intro, .game-preview {
	padding: 0 50px;
}

img .inline {
	display: inline-block;
}

footer {
	margin: 0 auto;
	width: 350px;
	text-align: center;
}

footer a {
	color: #333;
}

footer a:hover {
	color: #777;
}

footer span {
	margin: 15px 0;
	display: block;
}

/* About Page*/

.about-section {
	float: left;
}

.about {
	background-color: #FFF;
}

.about img {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	margin: 10px auto 0;
	display: block;
}

.about h3 {
	margin: 5px 0;
	text-align: center;
}

.profile-text {
	margin: 0 auto;
	max-width: 500px;
}

.about-side {
	background-color: #FFF;
	width: 200px;
	float: right;
	padding: 20px;
}

.about-side img {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	margin: 0 auto;
	display: block;
}

.about-side h3 {
	margin: 5px 0;
	text-align: center;
}

.about-side p {
	font-size: 0.8em;
	color: #777;
	margin: 15px 0;
}

/* Home Page */

.intro-block {
	margin: 30px auto;
}

.intro-block h3 {
	text-align: center;
}

.home-content-temp {
	width: 960px;
	margin: 50px auto;
	overflow: hidden;
}

.home-content {
	float: left;
	width: 960px;
}

.game-spotlight {
	margin-bottom: 25px;
	position: relative;
}

.ribbon {
	position: absolute;
	top: 0;
	right: 0;
}

.blog-spotlight {
	background-color: #FFF;
	overflow: hidden;
}

.blog-spotlight h1 {
	text-align: center;
	border-bottom: 1px solid #000;
	margin: 0;
	padding: 5px 0 10px;
	font-size: 3.5em;
	color: #00A23F;
	margin: 0 25%;
}

.blog-preview-container {
	margin: 30px auto;
}

.blog-preview {
	display: inline-block;
	width: 45%;
	height: 220px;
	box-shadow: 0px 0px 10px -2px #777;
	margin: 0 22px;
	vertical-align: top;
	overflow: hidden;
}

.blog-preview span {
	float: right;
}

.preview-content {
	overflow: hidden;
	margin: 0 20px;
}

.preview-content p {
	font-size: 0.75em;
}

.preview-content h3 a, .preview-content span a:hover, .read-more a:hover {
	color: #333;
}

.preview-content h3 a:hover, .preview-content span a, .read-more a {
	color: #777;
}

.read-more {
	display: block;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid;
	margin: 0 25%;
}

/* Games Page */

.game-section {
	width: 960px;
}

.game-preview {
	/*background-color: #FFF;*/
}

.game-preview p {
	margin-top: 0;
}

.game-preview a {
	color: #00ed5c;
}

.game-preview a:hover {
	color: #00C24B;
}

.game-preview h2 {
	color: #00ed5c;
}

.game-preview h1 {
	color: #00ed5c;
	font-size: 3em;
	margin: 0;
}

.game-photo {
	width: 400px;
}

.rpg-photo {
	width: 200px;
}



.screenshots {
  white-space: nowrap;
  overflow-x: auto;
}

.game {
	width: 1225px;
}



/* Blog Page */

.blog-section {
	float: left;
	padding: 0;
}

.blog-post {
	margin: 50px;
	padding-bottom: 40px;
	border-bottom: 1px solid #777;
}

.blog-post h2 {
	font-size: 3em;
	margin: 0;
	line-height: 1em;
}

.date {
	margin: 5px 0;
	display: block;
	font-size: 0.75em;
	color: #777;
}

.blog-side {
	background-color: #FFF;
	width: 200px;
	float: right;
	padding: 20px;
}

.blog-side h3 {
	margin: 5px 0;
	font-size: 1.5em;
}

.side-links span a {
	color: #777;
}

.side-links span a:hover {
	color: #333;
}

.side-links span {
	font-size: 0.75em;
	display: block;
	margin: 0 0 10px;
}


/* Contact Page */
.contact {
	background-color: #FFF;
	width: 960px;
	position: relative;
}

.contact-form {
	width: 500px;
	display: inline-block;
	padding: 50px;
	min-height: 150px;
}

.social-container {
	background-color: #FFF;
	width: 300px;
	height: 100%;
	position:absolute;
	top: 0;
	right: 0;
	box-shadow: -5px 0 18px -12px #000;
}

.social-links {
	padding: 20px;
}

.social-link {
	margin: 10px 0;
}

.social-link-text {
	display: inline-block;
	vertical-align: top;
	margin: 15px 5px;
}

.social-link a {
	color: #777;
}

.social-link a:hover {
	color: #333;
}

.form-element {
	margin: 0 0 10px;
}

.form-element input, .form-element textarea {
	display: block;
	border-radius: 3px;
	background-color: #EEE;
	border: 1px solid #DDD;
}

.form-element input:focus, .form-element textarea:focus {
    outline-color:#00ED5C;
}

.form-element textarea{
	width: 99%;
	height: 150px;
}

button {
	float: right;
	border: 0;
	padding: 5px 20px;
	background-color: #00ed5c;
	color: #00772E;
	border-bottom: 3px solid #00C24B;
	font-weight: 600;
}

button:hover {
	background-color: #00FF63;
}

.half {
	display: inline-block;
	margin: 0 25px 10px 0;
}

.thank-you {
	color: #EE3E84;
	font-size: 0.75em;
}

@media (max-width: 1225px) {
	.wide {
		width: 960px;
	}

	.about-side, .blog-side {
		width: auto;
		margin-top: 25px;
		float: left;
	}

}

@media (max-width: 960px) {

	.logo {
		margin-left: 15px;
	}

	.container, header nav {
		width: 100%;
		min-width: 300px;
	}

	.content, .contact, .home-content {
		width: 100%;
		padding: 25px 0;
	}

	.game-preview {
		padding: 0 25px;
	}

	.banner {
		width: 100%;
	}

	.contact-form {
		padding: 20px
	}

	.ribbon {
		width: 25%;
	}

	.blog-preview {
		display: block;
		width: 90%;
		height: auto;
		margin: 0 auto 25px;
	}

}

@media (max-width: 900px) {

	.contact-form {
		width: 90%;
	}

	.social-container {
		width: 100%;
		position: relative;
		box-shadow: 0px -8px 12px -12px #000;
	}

	.social-links {
		margin: 0 auto;
		width: 250px;
	}
}

@media (max-width: 600px) {

	.logo {
		display: block;
		margin: 10px auto;
	}

	header {
		height: auto;
	}

	header nav, header .wide {
		width: 300px;
	}

	header ul {
		display: block;
		margin: 0 auto;
		width: 300px;
	}

	header ul li {
		padding: 0 10px;
	}

	.game-photo {
		width: 80%;
	}

	.blog-post {
		margin: 20px;
	}
}
